/* Main */

/* Mozilla based browsers */
::-moz-selection {
       background-color: #ac9a7c;
       color: #fff;
}

/* Works in Safari */
::selection {
       background-color: #ac9a7c;
       color: #fff;
}

* {
	-webkit-box-sizing: border-box;
	-mox-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	line-height: 1.6;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
}
/* Links */
a {
	text-decoration: none;
	color: #41403f;/*-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;*/
}
.lead {
	font-size: 18px;
	margin-bottom: 60px;
}
/* Button */
.btn {
	border: 2px solid #ac9a7c;
	border-radius: 6px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
	text-shadow: none !important;
}
.btn:hover {
	background: #fff;
	color: #7C2B2D;
}
/**
 * Banner
 */

/* Main elem */
.banner {
	background: #41403f;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	height: 70px;
	width: 100%;
	color: #ac9a7c;
	z-index: 1;
}
.banner a {
	color: #ac9a7c;
}
.banner a:hover {
	color: #ac9a7c;
}
/* Logo */
.logo {
	float: left;
	margin: 0;
	font-size: 20px;
	line-height: 70px;
}
/* Nav */
.nav {
	height: 40px;
	padding: 0;
	margin: 15px 0 0;
	float: right;
}
/* Nav item */
.nav__item {
	height: 40px;
	line-height: 40px;
	padding: 0;
	width: 100%;
	display: inline-block;
	color: white;
}
/* Nav item button */
.nav__item--btn {
	display: inline-block;
	padding: 0 10pxi;
	font-size: 14px;
	line-height: 38px;
	padding: 0 20px;
	width: auto;
}
/* Hero */
.hero {
	color: #ac9a7c;
	text-align: center;
	margin-bottom: 0px;
	overflow: hidden;
	padding: 60px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.hero__title {
	font-size: 72px;
	margin: 0 0 10px;
}
.hero__title span {
/*opacity: .6;*/
}
.hero__snippet {
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	display: block;
	font-size: 2em;
	font-weight:400;
	font-family: 'Exo', sans-serif;
	line-height: 1em;
}
.hero__btn {
	border-color: #ac9a7c;
	color: #ac9a7c;
	padding: 10px 0;
	width: 160px;
	display: inline-block;
}
/* Hero DIV TITLE */

.hero-DivTitle {
	color: #ac9a7c;
	text-align: left;
	margin-bottom: 0px;
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;/*text-shadow: 0 1px 1px rgba(0,0,0,.3);*/
/*	border-top: 5px solid #ac9a7c;
	border-bottom: 5px solid #ac9a7c;*/
}
.hero-DivTitle__title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 4em;
	font-weight: 400;
	letter-spacing: 5px;
	margin-top: -18px;
	margin-bottom: -13px;
}
/* Button List */
.btn-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.btn-list__item {
	display: inline-block;
	margin: auto 5px;
}
/*  */
. {
 margin: 20px;
}
#footer {
	clear: both;
	width: 100%;
	margin: 0px auto;
	overflow: hidden;
	position: fixed;
	height: 480px;
	padding: 20px 0px 60px;
	background: none repeat scroll 0% 0% #fff;
	display: none;
	bottom: 0px;
}
#footer .top {
	float: right;
}
.harvinName {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	display: block;
	font-size: 3em;
	line-height: 1em;
	letter-spacing: 2px;
	margin-top: 0;
}
.harvinBlock {
	padding-top: 150px;
}
body {
	background: url('../img/HeaderBgMelb.jpg') repeat-x fixed center top;
}
.main {
	margin: 440px auto 480px;
	width: 100%;
	background: none repeat scroll 0% 0% #E8EDF0;
	position: relative;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	z-index: 3;
}
.intro {
	height: 450px;
	top: 0px;
	width: 100%;
	position:fixed;
	background-color: rgba(0,0,0,.3);
}
.accounts {
	text-align: center;
}
section .accounts a {
	width: 50px;
	height: 50px;
	display: inline-block;
	text-indent: -999em;
	transform: scale(0.5, 0.5);
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	border: 0px none;
	transition: all 0.2s ease-in-out 0s;
}
section .accounts a.linkedin {
	background-image: url('../img/linkedin.png');
}
/*Work Responsive Columns*/

.workContent {
	border-top: 1px solid #a5a195;
	padding: 1.625em 0 7.5em;
	zoom: 1;
	width: 62.5em;
	margin: 0 auto;
	color: #625C48;
}
.workColumn {
	background-color: #FFF;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	top: 0px;
	left: 0px;
	margin-left: auto;
	margin-right: auto;
}
.responsive-col-left {
	font-size: 18px;
	line-height: 25px;
	width: 320px;
	float: left;
	display: block;
	margin-right: 20px;
}
.responsive-col-left h2 {
	font-size: 1.3em;
	line-height: 25px;
	margin: 0;
}
.responsive-col-right {
	font-size: 18px;
	line-height: 29px;
	padding-left: 340px;
	display: block;
}
#contact {
	background-color: #FFF;
	padding-bottom: 1em;
}

@media only screen and (min-width: 768px) {
	.visitSiteMobile {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	
	.responsive-col-left h2 {
		font-size: 1.4375em;
		font-weight: normal;
	}
	.responsive-col-right {
		padding-left: 0;
		padding-top: 2em;
		width: 90%;
	}
	.responsive-col-left {
		padding-left: 0px;
		width: 100%;
	}
	.responsive-col-left {
		padding-left: 0px;
	}
	.visitSiteDesktop {
		display: none;
	}
	.visitSiteMobile {
		padding-top: 2em;
		display: block;
	}
}

@media only screen and (max-width: 1079px) {
	.workContent {
		width: 90%;
	}
	.responsive-col-left .responsive-col-right {
		padding-left: 60px;
	}
	
	.contactDetailsDesktop
	{
		display:none;	
	}
	
	.contactFormDesktop
	{
		width: 100%;
		padding:0;
	}
	#footer
	{
		display:none;	
	}
	.main
	{
		margin-bottom:0;	
	}
}
/* eat up all the width when used on mobile 
@media screen and (max-width: 800px) {
	.responsive-col-left
{
	width: 100%;
}

.responsive-col-right
{
	width: 100%;
}
}

/* To make the height adjust automatically on mobile view
@media screen and (min-width: 800px) {
	.responsive-col-left
{
	height: 50vh;
}

.responsive-col-right
{
	height: 50vh;
}
} */

.visitSiteDesktop {
	padding-top: .8em;
}

#copyRight
{
	font-family: "Oswald",sans-serif; 
	text-align:center; 
	position: absolute; 
	bottom: 0px; 
	right: 50%;	
}

#footer form
{
    display: block;
    overflow: hidden;
    width: 500px;
    margin: 0px auto;	
}

input, textarea, select {
    border: 0px none;
    font-weight:400;
	font-family: 'Exo', sans-serif;
	text-transform:uppercase;
    padding: 10px 0px;
    background: none repeat scroll 0% 0% transparent;
    color: #444948;
    border-radius: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
}

input {
    resize: none;
}

input, textarea {
    padding-left: 0.7em;
}

label {
    display: none;
}

form p {
    padding-top: 20px;
    display: block;
    margin: 0px auto;
    border-bottom: 3px solid #444948;
}

#submit {
    display: block;
    cursor: pointer;
    margin: 0px auto;
    color: #444948;
    border: 3px solid #444948;
    box-sizing: border-box;
    width: 100%;
    text-transform: uppercase;
    padding: 20px 0px;
    background: none repeat scroll 0% 0% transparent;
    font-weight:400;
	font-family: 'Exo', sans-serif;
    text-align: center;
}

a, button {
    outline: 0px none;
}

div.button {
    padding-top: 60px;
}

.ContactFooter
{
	font-family: "Open Sans Condensed",sans-serif;
	font-size: 4em;
	font-weight: 400;
	letter-spacing: 5px;	
}

.contentContact
{
	border:none;
	padding:0;
}